<h1>Element</h1>
<ul>
<%# @element.each do |element| %>
  <li>
    <h2><a href="/element/<%= @element.atomic_num %>"><%= @element.name %></a></h2>
    <p><%= @element.symbol %></p>
    <p><%= @element.atomic_weight %></p>
  </li>
<%# end %>
</ul>

<h1>Elements</h1>
<ul>
<% @elements.each do |element| %>
  <li>
    <h2><a href="/element/<%= element.atomic_num %>"><%= element.name %></a></h2>
    <p><%= element.symbol %></p>
    <p><%= element.atomic_weight %></p>
  </li>
<% end %>
</ul>
